{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://afeld.github.io/emoji-css/emoji.css" >
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
    <div class="main">
        <h1>Start using Trip Builder for free</h1>
        <p>Now you can send your request to the API. Enjoy!</p>
    </div>

    <footer>
        <p>Made with <i class="em em-heart"></i> by Lau for &copy;<a class="flighthub-link" href="https://www.flighthub.com/">FlightHub</a></p>
    </footer>
{% endblock %}
